<h1>Review submitted</h1>

<div class="suggestions">
  Your suggestions
  <div class="review_suggestions">
    <%= suggestions %>
  </div>
</div>

<%= cell(Post::Write::Cell::View::Show, post) %>

<div class="actions">

</div>
