<h1>Review posting</h1>

<div class="name">
  <%= model.content %>
</div>

<ul>
  <li>
    <%= link_to "Approve", approve_posting_path(model.id) %>
  </li>
  <li>
    <%= link_to "Reject", reject_posting_path(model.id) %>
  </li>
</ul>
